
/* ==========================================================================
   #FONT
   ========================================================================== */
.font-robo {
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
}

/* ==========================================================================
   #GRID
   ========================================================================== */
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row-space {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.col-2 {
  width: -webkit-calc((100% - 60px) / 2);
  width: -moz-calc((100% - 60px) / 2);
  width: calc((100% - 60px) / 2);
}

@media (max-width: 767px) {
  .col-2 {
    width: 100%;
  }
}

/* ==========================================================================
   #BOX-SIZING
   ========================================================================== */
/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* ==========================================================================
   #RESET
   ========================================================================== */
/**
 * A very simple reset that sits on top of Normalize.css.
 */
body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin: 0;
  padding: 0;
}

/**
 * Remove trailing margins from nested lists.
 */
li > ol,
li > ul {
  margin-bottom: 0;
}

/**
 * Remove default table spacing.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
 *    on fieldsets.
 */
fieldset {
  min-width: 0;
  /* [1] */
  border: 0;
}

button {
  outline: none;
  background: none;
  border: none;
}

/* ==========================================================================
   #PAGE WRAPPER
   ========================================================================== */
.page-wrapper {
  min-height: 100vh;
}

body {
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 13px;
}

/* ==========================================================================
   #BACKGROUND
   ========================================================================== */
.bg-blue {
  background: #2c6ed5;
}

.bg-red {
  background: #fa4251;
}

/* ==========================================================================
   #SPACING
   ========================================================================== */
.p-t-100 {
  padding-top: 100px;
}

.p-t-180 {
  padding-top: 180px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-t-30 {
  padding-top: 30px;
}

.p-b-100 {
  padding-bottom: 100px;
}

/* ==========================================================================
   #WRAPPER
   ========================================================================== */
.wrapper {
  margin: 0 auto;
}

.wrapper--w960 {
  max-width: 960px;
}

.wrapper--w680 {
  max-width: 680px;
}

/* ==========================================================================
   #BUTTON
   ========================================================================== */
.btn {
  line-height: 40px;
  display: inline-block;
  padding: 0 25px;
  cursor: pointer;
  color: #fff;
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-size: 14px;
  font-weight: 700;
}

.btn--radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.btn--green {
  background: #57b846;
}

.btn--green:hover {
  background: #4dae3c;
}

/* ==========================================================================
   #DATE PICKER
   ========================================================================== */
td.active {
  background-color: #2c6ed5;
}

input[type="date" i] {
  padding: 14px;
}

.table-condensed td, .table-condensed th {
  font-size: 14px;
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

.daterangepicker td {
  width: 40px;
  height: 30px;
}

.daterangepicker {
  border: none;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  display: none;
  border: 1px solid #e0e0e0;
  margin-top: 5px;
}

.daterangepicker::after, .daterangepicker::before {
  display: none;
}

.daterangepicker thead tr th {
  padding: 10px 0;
}

.daterangepicker .table-condensed th select {
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  padding: 5px;
  outline: none;
}

/* ==========================================================================
   #FORM
   ========================================================================== */
input {
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
}

/* input group 1 */
/* end input group 1 */
.input-group {
  position: relative;
  margin-bottom: 32px;
  border-bottom: 1px solid #e5e5e5;
}

.input-icon {
  position: absolute;
  font-size: 18px;
  color: #ccc;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}
.input-icon-new {
  /* position: absolute; */
  font-size: 18px;
  color: #ccc;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}
.input--style-2 {
  padding: 9px 0;
  color: #666;
  font-size: 16px;
  font-weight: 500;
}

.input--style-2::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #808080;
}

.input--style-2:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #808080;
  opacity: 1;
}

.input--style-2::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #808080;
  opacity: 1;
}

.input--style-2:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #808080;
}

.input--style-2:-ms-input-placeholder {
  /* Microsoft Edge */
  color: #808080;
}

/* ==========================================================================
   #SELECT2
   ========================================================================== */
.select--no-search .select2-search {
  display: none !important;
}

.rs-select2 .select2-container {
  width: 100% !important;
  outline: none;
}

.rs-select2 .select2-container .select2-selection--single {
  outline: none;
  border: none;
  height: 36px;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 36px;
  padding-left: 0;
  color: #808080;
  font-size: 16px;
  font-family: inherit;
  font-weight: 500;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow {
  height: 34px;
  right: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow:after {
  font-family: "Material-Design-Iconic-Font";
  content: '\f2f9';
  font-size: 18px;
  color: #ccc;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.rs-select2 .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow::after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.select2-container--open .select2-dropdown--below {
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #e0e0e0;
  margin-top: 5px;
  overflow: hidden;
}

/* ==========================================================================
   #TITLE
   ========================================================================== */

.title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 37px;
  text-align: center;
}

/* ==========================================================================
   #CARD
   ========================================================================== */
.card {
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
}

.card-2 {
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 100%;
  display: table;
}

.card-2 .card-heading {
  background: url("../images/swamiji_new.jpg") top left/cover no-repeat;
  width: 29.1%;
  display: table-cell;
}

.card-2 .card-body {
  display: table-cell;
  padding: 80px 90px;
  padding-bottom: 88px;
}

@media (max-width: 767px) {
  .card-2 {
    display: block;
  }
  .card-2 .card-heading {
    width: 100%;
    display: block;
    padding-top: 300px;
    background-position: left center;
  }
  .card-2 .card-body {
    display: block;
    padding: 60px 50px;
  }
}

/* =====================================================================================
	LOGO Starts
   ===================================================================================== */
.logo {
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
}

.logo-2 {
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 100%;
  display: table;
}
 .logo-heading{
    background: url(../images/Kumbh2021.jpg) right/cover no-repeat;
    width: 16.1%;
    height: 124px;
    display: block;
    margin-left: 739px;
    margin-top: -79px;
}
/*  .logo-heading{
    background: url(../images/kumbh.jpg) right/cover no-repeat;
    width: 26.1%;
    height: 130px;
    display: block;
    margin-left: 460px;
    margin-top: -77px;
} */

/*  .logo2-heading{
    background: url(../images/PPSLatest.jpg) right/cover no-repeat;
    width: 26.1%;
    height: 130px;
    display: block;
    margin-left: -85px;
    margin-top: -134px;
} */
.logo2-heading{
    background: url(../images/PPSLatest.jpg) right/cover no-repeat;
    width: 16.1%;
    height: 126px;
    display: block;
    margin-left: -85px;
    margin-top: -117px;
}
.logo-2 .logo-body {
  display: table-cell;
  padding: 80px 90px;
  padding-bottom: 88px;
}

@media (max-width: 767px) {
  .logo-2 {
    display: block;
  }
  .logo-2 .logo-heading {
    width: 100%;
    display: block;
    padding-top: 300px;
    background-position: left center;
  }
  .logo-2 .logo-body {
    display: block;
    padding: 60px 50px;
  }
}

.edituser {
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
}

.edituser-2 {
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 100%;
  display: table;
}

 .edituser-heading{
    background: url(../images/edituser.png) right/cover no-repeat;
	width: 31px;
    height: 32px;
    display: block;
    margin-top: -32px;
    margin-left: 43px;
}

.edituser-2 .edituser-body {
  display: table-cell;
  padding: 80px 90px;
  padding-bottom: 88px;
}

@media (max-width: 767px) {
  .edituser-2 {
    display: block;
  }
  .edituser-2 .edituser-heading {
    width: 10%;
    display: block;
    padding-top: 300px;
    background-position: left center;
  }
  .edituser-2 .edituser-body {
    display: block;
    padding: 60px 50px;
  }
}
.viewuser {
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
}

.viewuser-2 {
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 100%;
  display: table;
}

 .viewuser-heading{
    background: url(../images/viewuser.jpg) right/cover no-repeat;
	width: 33px;
    height: 32px;
    display: block;
    margin-left: 9px;    
    }

.viewuser-2 .logo-body {
  display: table-cell;
  padding: 80px 90px;
  padding-bottom: 88px;
}

@media (max-width: 767px) {
  .viewuser-2 {
    display: block;
  }
  .viewuser-2 .viewuser-heading {
    width: 100%;
    display: block;
    padding-top: 300px;
    background-position: left center;
  }
  .viewuser-2 .viewuser-body {
    display: block;
    padding: 60px 50px;
  }
}
.Air_table{
    margin-top: 1em;
    background: #fff;
    border:1px solid #d8d8d8;
}
.Air_table .dataTables_filter{
    display:none;
}
.dataTables_paginate{
    padding:1.5em 2em !important;
}

table.dataTable thead th{
    background:#f1f1f1;
    border-bottom: 1px solid #cfcfcf !important;
    border-top: 1px solid #cfcfcf ;
}
table.dataTable tbody td{
    border-bottom: 1px solid #cfcfcf;
}
.Air_table table thead th:last-child{
}
/*.Air_table table thead th:first-child,
.Air_table table thead th:second-child,.Air_table table thead th:nth-child(3){
        width: 25% ;
}*/
.Air_table table thead th{
    text-align:left;
    padding:13px ;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 13px 14px;
}
.Air_table table tbody tr:nth-child(even){
    background: #f8f8f8;
}
table.dataTable.no-footer, table.dataTable thead td{
    border-bottom:0 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
    background:#dddddd;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    background: red !important;
    color: #ffffff !important;
    border: 0 !important;
    border-radius: 0;
    text-align: center;
    color:#ffffff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #9B9B9B none repeat scroll 0 0 !important;
    border: 0 none !important;
    border-radius: 0;
    color: #2F2B2C !important;

    text-align: center;
}

/* .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:
{
    background: #E6E6E6 none repeat scroll 0 0;
    border: 1px solid transparent;
    box-shadow: none;
    color: #666 !important;
    cursor: default;
    background-image: url("../img/dropdown_arrow.png");
    background-repeat: no-repeat;
    background-size: 9px 5px;
} */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background:#E6E6E6 !important;
    color:#000 !important;
    border:1px solid #E6E6E6 !important;
}
.button.dt-button, div.dt-button, a.dt-button, .button.dt-button, div.dt-button, a.dt-button:hover{
    background-image: url("../img/Export File.png") !important;
    background-repeat: no-repeat;
    background-size: 16px 17px;
    background-position: 10px;
}
.dt-button.buttons-excel.buttons-html5 > span{
    padding-left:27px;
    color:#175C19;
}
button.dt-button, div.dt-button, a.dt-button {
    background-color: #fff !important;
}
.paginate_button.previous.disabled{
    display:none !important;
}
.dt-buttons{
    left: 198px;
    position: absolute !important;
    top: -41px;

}
.dataTables_wrapper .dataTables_length {/*---- hide list item---*/
    display: none;
}
.dataTables_wrapper .dataTables_info {/*---- hide show entries---*/
    display: none;
}
.download_button{
    background: rgba(0, 0, 0, 0) url("../img/Download.png") no-repeat scroll 6px center;
    border: 1px solid #ccc;
    padding: 8px 22px 5px 29px;
    margin:10px;
    color:#3E712F;
}
.dataTable  thead tr th, .dataTable  tbody tr td{
    border-right:1px solid #dedede;
}
.dataTable  thead tr th:last-child, .dataTable  tbody tr td:last-child{
    border-right:none;
    text-align:center;
}
.dataTable  tbody tr td:last-child img{
    width:14px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0.1em 0.2em;
}
#DataTables_Table_0_previous{
    display:none;
}
/* =====================================================================================
	LOGO Ends
   ===================================================================================== */
/* table {
	padding-top:100px;
    border-collapse: collapse;
   
}

th, td {
    text-align: left;
    padding: 8px;
} */

tr:nth-child(even) {background-color: #f2f2f2;}

.popup-overlay {
visibility:hidden;
}

.popup-content {
visibility:hidden;
}

.popup-overlay.active{
visibility:visible;
}

.popup-content.active {
visibility:visible;
}

.card3 {
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
}

.card-4 {
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 50%;
  display: table;
}

.datepicker{/*--- datepicker icon ---*/
    background-image: url("../images/Cal_icon.png");
    background-repeat:no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-size: 9px auto;
    background-position: 157px 12px;
    background-size: 18px 19px;
    cursor: pointer;
    width:50%;
}
.myDropdown {
    background-color: #ffffff;
    background-image: url("../images/dropdown_arrow.png");
    background-position: 237px 14px;
    background-repeat: no-repeat;
    background-size: 9px 5px;
    cursor: pointer;
    max-height: 250px;
}

